@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Josefin+Sans:wght@500;600&family=Permanent+Marker&display=swap');
$font-body: 'EB Garamond', sans-serif;
$font-logo: 'Permanent Marker', serif;
$font-headings: 'Josefin Sans', Sans-serif;
$accent-color: #c70404;
$main-color: #9c9c9c;
$secondary-color: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
