@use '../../Styles/variables' as *;

.contact {
  font-size: 2.2em;
  background-color: $secondary-color;
  font-family: $font-secondary;
  height: 81vh;
  text-align: center;

  &__title {
    padding: 1rem 0;
    color: whitesmoke;
  }

  &__container {
    display: flex;
  }

  &__gig-image {
    width: 50%;
  }
}
