@use '../../Styles/variables' as *;

.contact {
  font-size: 2.2em;
  background-color: $secondary-color;
  font-family: $font-secondary;
  height: 80vh;
  text-align: center;

  h2 {
    padding: 1rem 0;
    color: whitesmoke;
  }
}
