@use '../../Styles/variables' as *;

.home {
  text-align: center;
  background-color: $main-color;
  background-image: url(../../Assets/Images/ru-out-img.jpg);
  background-size: cover;
  height: 81vh;
  &__heading {
    text-align: center;
    height: 10rem;
    font-size: 7rem;
    font-family: $font-heading;
    margin-bottom: 2rem;
    padding: 1rem 0;
    color: $main-color;
  }

  &__para {
    height: 3rem;
    font-size: 1.6em;
    font-family: $font-secondary;
    font-weight: 500;
    color: $main-color;
    margin-top: 1rem;
  }

  &__img {
    height: 75%;
  }
}
