@use '../../Styles/variables' as *;

.home {
  text-align: center;
  background-color: $main-color;
  &__heading {
    height: 8rem;
    font-size: 6rem;
    font-family: $font-heading;
  }

  &__para {
    height: 3rem;
    font-size: 1.6em;
    font-family: $font-secondary;
    font-weight: 100;
  }

  &__img {
    height: 80vh;
  }
}
