@use '../../Styles/variables' as *;

.nav-bar {
  width: 100%;
  display: flex;
  background-color: $main-color;
  height: 8rem;
  margin-right: 1rem;
  background-color: white;

  &__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
  }

  &__item {
    text-decoration: none;
    font-size: 1.6em;
    color: $secondary-color;
    font-family: $font-secondary;
  }
  &__item:hover {
    color: $accent-color;
  }

  &__logo {
    width: 15rem;
    height: 100%;
  }
}
